<div class="container">
  <div class="row">
    <div class="container mt-5">

      <h2>Visualização de Pedidos</h2>

      <div class="form-group">
        <label for="dataFilter">Filtrar Pedidos:</label>
        <select class="form-control" id="dataFilter" [(ngModel)]="filtroData">
          <option value="">Todos</option>
          <option value="hoje">Pedidos de Hoje</option>
          <option value="semana">Pedidos da Semana</option>
          <option value="mes">Pedidos do Mês</option>
          <option value="ano">Pedidos do Ano</option>
        </select>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Número do Pedido</th>
            <th>Nome do Cliente</th>
            <th>Status do Pedido</th>
            <th>Data do Pedido</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let pedido of ordenarPedidos() | dataFilter: filtroData">
            <td> 00{{pedido.id}} </td>
            <td> {{pedido.cliente.nome}} </td>
            <td [ngClass]="getStatusClass(pedido.statusPedido)"> {{pedido.statusPedido}} </td>
            <td *ngIf="pedido.dataPedido !== undefined"> {{ formatarData(pedido.dataPedido) }}</td>
            <td>  
              <button *ngIf="mostrarBotao(pedido.statusPedido)"
              class="btn btn-primary"
              (click)="efetuarAcao(getBotaoTexto(pedido.statusPedido), pedido)">
              {{getBotaoTexto(pedido.statusPedido)}}
          </button>
        </td>
        </tbody>
      </table>
    </div>
  </div>
</div>