<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatórios</title>

</head>
<body>
  <div class="container">
    <button class="button" (click)="gerarRelatorioReceitasPDF()">Relatório de Receitas em PDF</button>
    <button class="button" (click)="gerarRelatorioClientesPDF()">Relatório de Clientes em PDF</button>
    <button class="button" (click)="gerarRelatorioClientesFieisPDF()">Relatório de Clientes Fiéis em PDF</button>    
  </div>
</body>
</html>
