<div class="container-fluid">

  <div class="navbar-collapse collapsed justify-content-between" id="navbarContent">

    <nav class="navbar navbar-expand-md n navbar-dark bg-dark">

      <a class="navbar-brand nav-link" href="#">
        <i class="fa fa-user-edit"> LOL-Lavanderia </i>
      </a>

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="#"> Página Inicial </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"> Novo Pedido </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"> Consultar Pedidos </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"> Listagem de Pedidos </a>
        </li>        
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> SAIR </a>
        </li>

        <li class="nav-item">
          <p class="navbar-text mb-0 text-white">
            <i class="fa fa-user"></i>
          </p>
        </li>

      </ul>
    </nav>
  </div>

  <router-outlet></router-outlet>

  <footer class="footer fixed-bottom mt-auto py-3 bg-light">
    <div class="container text-center">
      Copyright © 2023 | Lucas, Matheus e Murilo | Web2
    </div>
  </footer>
</div>