<section class="container">
  <section class="jumbotron">
    <h1 class="titulo-inicial">Venha para a Lavanderia LOL</h1>
    <h3 class="sub-titulo-inicial">Com a LOL você tem suas roupas limpas e secas de forma fácil, rápida e barata</h3>

    <section class="row">
      <section class="col-sm-4 card-inicial">
        <img src="assets/img/cofre.png" alt="cofre" class="imagem-card">
        <h3>Economia de dinheiro</h3>
      </section>
      <section class="col-sm-4 card-inicial">
        <img src="assets/img/relogio.png" alt="relogio" class="imagem-card">
        <h3>Economia de tempo</h3>
      </section>
      <section class="col-sm-4 card-inicial">
        <img src="assets/img/roupa.png" alt="roupa" class="imagem-card">
        <h3>Higienização correta das roupas</h3>
      </section>

      <section class="botao-inicial">
        <a [routerLink]="['/cadastro']">Cadastre-se</a>
      </section>
    </section>
  </section>
</section>
