<h1>Usuários</h1>
<div *ngIf="mensagem.length>0" class="alert alert-danger alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">{{mensagem}}</h4>
  <p>{{mensagem_detalhes}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th>Perfil</th>
      <th class="text-center">Detalhes do Usuário</th>
    </tr>

    <tr *ngFor="let usuario of usuarios">
      <td> {{usuario.nome }} </td>
      <td> {{usuario.email}} </td>
      <td> {{usuario.perfil}} </td>
      <td class="text-center" style="width: 300px">
        <button type="button" class="btn btn-xs btn-info" (click)="abrirModal(usuario)">
          <i class="fa fa-eye" aria-hidden="true"></i>
          Detalhes
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="usuarios.length==0">Nenhum usuário cadastrado.</p>