<div class="container overflow-auto">
  <div class="row">

    <div class="card-login">

        <div class="card-body campos-cadastro">
          <form #formCliente="ngForm">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nome Completo" [(ngModel)]="cliente.nomeCliente"
                name="nomeCliente" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="cliente.email"
                name="email" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="CPF (apenas números)" [(ngModel)]="cliente.cpf" 
                name="cpf" maxlength="11" minlength="11" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="CEP" [(ngModel)]="cliente.cep" name="cep"
                required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Endereço" [(ngModel)]="cliente.endereco"
                name="logradouro" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Número" [(ngModel)]="cliente.numero"
                name="numero" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Bairro" [(ngModel)]="cliente.bairro" name="bairro"
                required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]="cliente.cidade" name="cidade"
                required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Digite sua senha" [(ngModel)]="cliente.senha"
                name="senha" required>
            </div>

            <div>
              <button class="btn btn-lg btn-info" type="submit" (click)="inserir()">
                <i class="fa-regular fa-floppy-disk"></i>
                Cadastrar</button>
            </div>
            <div>
              <a class="btn btn-lg btn-secondary" [routerLink]="['/login']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
              </a>
            </div>
          </form>

        </div>
    </div>
  </div>
</div>